// Color Project
$--color-white: #ffffff;
$--color-blue-hover: #88ebf2;
$--color-blue: #2caeba;
$--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$--letter-spacing: 0.25rem;
$--transition: all 0.3s linear;
// Color Navbar:
$--color-text-nav: #102a42;
